@use '../abstract/variables';

.notifications__summary {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: default;

  .notifications__amount {
    display: flex;
    align-items: center;
    gap: 12px;

    .notifications__title {
      font-variation-settings: 'wght' 750;
      font-size: 1.4rem;
    }
    .notifications__counter {
      font-variation-settings: 'wght' 750;
      background: variables.$blue300;
      color: variables.$white;
      text-align: center;
      width: 32px;
      padding: 2px 0px;
      border-radius: 6px;
    }
  }
  .notifications__mark__all {
    margin-left: auto;
    cursor: pointer;
    border: none;
    background: transparent;
    font: variables.$font100;
    color: variables.$gray500;
  }
  .notifications__mark__all:hover {
    color: variables.$blue300;
  }
}
