//Tamanho de tela 
//Mobile: 375px;
//Desktop: 1440px;

//Cores
:root {
    --vermelho-principal: #f65351;
    --azul-principal: #0a317b;
    --branco: #ffffff;
    --azul-claro: #f7fafd;
    --azul-claro-secundario: #e5effa;
    --azul-claro-terciario: #dde7ee;
    --cinza: #939dae;
    --cinza-medio: #5e6778;
    --cinza-escuro: #1c202b;
    }