// Colors
$red300: #f65351;
$blue300: #0a317b;
$blue500: #1c202b;

$white: #ffffff;
$gray100: #f7fafd;
$gray200: #e5effa;
$gray300: #dde7ee;
$gray400: #939dae;
$gray500: #5e6778;

// Typography
$font100: 1rem 'Plus Jakarta Sans', sans-serif;

// Media Query
$breakpoint-small: 700px;
$breakpoint-mobile: 500px;