/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 1rem "Plus Jakarta Sans", sans-serif;
  background-color: #f7fafd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.notifications__wrapper {
  max-width: 732px;
  max-height: 840px;
  border: 1px solid #f7fafd;
  border-radius: 16px;
  padding: 44px 32px 0px 32px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 0px 15px 8px rgba(222, 222, 222, 0.2);
}
@media screen and (max-width: 700px) {
  .notifications__wrapper {
    max-height: initial;
    min-height: 100%;
    justify-content: center;
  }
}

.notifications__summary {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: default;
}
.notifications__summary .notifications__amount {
  display: flex;
  align-items: center;
  gap: 12px;
}
.notifications__summary .notifications__amount .notifications__title {
  font-variation-settings: "wght" 750;
  font-size: 1.4rem;
}
.notifications__summary .notifications__amount .notifications__counter {
  font-variation-settings: "wght" 750;
  background: #0a317b;
  color: #ffffff;
  text-align: center;
  width: 32px;
  padding: 2px 0px;
  border-radius: 6px;
}
.notifications__summary .notifications__mark__all {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background: transparent;
  font: 1rem "Plus Jakarta Sans", sans-serif;
  color: #5e6778;
}
.notifications__summary .notifications__mark__all:hover {
  color: #0a317b;
}

.notification__container.unread {
  background: #f7fafd;
  border: 1px solid #f7fafd;
  box-shadow: 0px 1px 2px 2px rgba(222, 222, 222, 0.2);
}
.notification__container.unread .notification__mark__read {
  background: #f65351;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  border: none;
  right: 8px;
  top: 24px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .notification__container.unread .notification__mark__read {
    display: block;
  }
}

.notification__container {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  cursor: default;
  border: 1px solid transparent;
}
.notification__container .notification__imgs {
  max-width: initial;
  width: 44px;
}
.notification__container .notification__mark__read {
  display: none;
}
.notification__container .notification__picture {
  margin-left: auto;
  border: 2px solid transparent;
  cursor: pointer;
}
.notification__container .notification__picture:hover {
  border: 2px solid #dde7ee;
  border-radius: 8px;
}
.notification__container .notification__content.unread .notification__mark__read {
  background: #f65351;
  min-width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: -14px;
  top: 8px;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .notification__container .notification__content.unread .notification__mark__read {
    display: block;
  }
}
.notification__container .notification__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #5e6778;
  font-variation-settings: "wght" 450;
  max-width: 552px;
  position: relative;
}
.notification__container .notification__content .notification__user {
  color: #1c202b;
  font-variation-settings: "wght" 700;
  cursor: pointer;
}
.notification__container .notification__content .notification__user:hover {
  color: #0a317b;
}
.notification__container .notification__content .notification__post {
  font-variation-settings: "wght" 730;
  cursor: pointer;
}
.notification__container .notification__content .notification__post:hover {
  color: #0a317b;
}
.notification__container .notification__content .notification__group {
  font-variation-settings: "wght" 800;
  color: #0a317b;
  cursor: pointer;
}
.notification__container .notification__content .notification__message {
  padding: 16px 22px 16px 16px;
  margin-top: 8px;
  border: 1px solid #dde7ee;
  border-radius: 4px;
  cursor: pointer;
}
.notification__container .notification__content .notification__message:hover {
  background: #dde7ee;
}
.notification__container .notification__content .notification__time {
  font-variation-settings: "wght" 400;
  color: #939dae;
}
.notification__container .notification__content .notification__mark__read {
  display: none;
}/*# sourceMappingURL=style.css.map */