/* CSS Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    background-color: var(--azul-claro);
}

.principal {
    width: 60%;
    position: absolute;
    left: 17rem;
    margin-top: 40px;
    background-color: var(--branco);
    border-radius: 12px;
}