/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  background-color: var(--gray100);
}

.marked__border {
  border: 1px dashed tomato;
}
