.notifications__area {
  max-width: 668px;
  max-height: 840px;
  border-radius: 16px;
  padding: 44px 32px 16px 32px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 4px;

  .notification__container {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 4px;

    .notification__avatar {
      width: 44px;
      height: 44px;
    }
    .notification__content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: var(--gray500);
      font-variation-settings: 'wght' 450;
      max-width: 552px;

      .notification__user {
        color: var(--blue500);
        font-variation-settings: 'wght' 700;
      }

      .notification__post {
        font-variation-settings: 'wght' 800;
      }

      .notification__group {
        font-variation-settings: 'wght' 800;
        color: var(--blue300);
      }

      .notification__time {
        font-variation-settings: 'wght' 400;
        color: var(--gray400);
      }
    }
  }
}
