.notifications__area {
  max-width: 668px;
  max-height: 840px;
  border: 1px solid var(--gray100);
  border-radius: 16px;
  padding: 44px 32px 0px 32px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 0px 15px 8px rgba(222, 222, 222, 0.2);

  .notifications__summary {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    cursor: default;

    .notifications__amount {
      display: flex;
      align-items: center;
      gap: 12px;

      .notifications__title {
        font-variation-settings: 'wght' 750;
        font-size: 1.4rem;
      }
      .notifications__counter {
        font-variation-settings: 'wght' 750;
        background: var(--blue300);
        color: var(--white);
        padding: 2px 11px;
        border-radius: 6px;
      }
    }
    .notifications__mark__all {
      margin-left: auto;
      cursor: pointer;
      border: none;
      background: transparent;
      font-family: var(--font100);
      font-size: 1rem;
      color: var(--gray500);
    }
    .notifications__mark__all:hover {
      color: var(--blue300);
    }
  }

  .notification__container.unread {
    background: var(--gray100);
    border: 1px solid var(--gray100);
    box-shadow: 0px 1px 2px 2px rgba(222, 222, 222, 0.2);
  }

  .notification__container {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 4px;
    cursor: default;

    .notification__avatar {
      width: 44px;
      height: 44px;
    }

    .notification__picture {
      width: 44px;
      height: 44px;
      margin-left: auto;
      border: 2px solid transparent;
      cursor: pointer;
    }

    .notification__picture:hover {
      border: 2px solid var(--gray300);
      border-radius: 8px;
    }

    .notification__content.unread {
      .notification__mark__read {
        background: var(--red300);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: -14px;
        top: 8px;
        cursor: pointer;
      }
    }

    .notification__content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: var(--gray500);
      font-variation-settings: 'wght' 450;
      max-width: 552px;
      position: relative;

      .notification__user {
        color: var(--blue500);
        font-variation-settings: 'wght' 700;
        cursor: pointer;
      }

      .notification__user:hover {
        color: var(--blue300);
      }

      .notification__post {
        font-variation-settings: 'wght' 730;
        cursor: pointer;
      }

      .notification__post:hover {
        color: var(--blue300);
      }

      .notification__group {
        font-variation-settings: 'wght' 800;
        color: var(--blue300);
        cursor: pointer;
      }

      .notification__message {
        padding: 16px 22px 16px 16px;
        margin-top: 8px;
        border: 1px solid var(--gray300);
        border-radius: 4px;
        cursor: pointer;
      }

      .notification__message:hover {
        background: var(--gray300);
      }

      .notification__time {
        font-variation-settings: 'wght' 400;
        color: var(--gray400);
      }
    }
  }
}
